doctype html
html
    head
        title= title
        link(rel='stylesheet', href='./styles/style.css')
    body
        block content
        form#profile(action='#', method='post')
            input(type='text', name='name', placeholder='Enter your name')
            input(type='text', name='surname', placeholder='Enter your surname')
            button(type='submit') Update
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(src='./js/main.js')
